*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/build
/audio_device_java/build
/base_java/build
/libjingle_peerconnection/build
/webrtc/build
/captures
.externalNativeBuild
